<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DataWarehouse.DataAcquisition.AdWords.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>

    
  <section name="AdWordsApi" type="System.Configuration.DictionarySectionHandler" /></configSections>
  <connectionStrings>
    <add name="SMBGoogleAdWords" connectionString="Server=.;Database=SMBGoogleAdWords;Trusted_Connection=True;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <AdWordsApi>
    <add key="RetryCount" value="1" />
    <add key="Timeout" value="30000" />
    <add key="UserAgent" value="GO Digital Data Acquisition" />
    <add key="DeveloperToken" value="AU0gQmpkjEjxDWZNy7K6TA" />
    <add key="IncludeZeroImpressions" value="false" />
    <add key="OAuth2ClientId" value="729176071766-5e8o0kuls7hkaej91s6bnp5dp5on2c8c.apps.googleusercontent.com" />
    <add key="OAuth2ClientSecret" value="RhQdxQn1Tt-rIGq9YIaQejId" />
    <add key="OAuth2RefreshToken" value="1/p-X0x0zG45_jqdBjQ01CD2jAfxO1Xj8Xb6S5gjJt1R39JtUN5yh8IbwHf0qck-ng" />
    <add key="MaskCredentials" value="true" />
    <add key="EnableSoapExtension" value="true" />
    <add key="EnableGzipCompression" value="true" />
    <add key="IncludeUtilitiesInUserAgent" value="true" />
    <add key="ProxyServer" value="" />
    <add key="ProxyUser" value="" />
    <add key="ProxyPassword" value="" />
    <add key="ProxyDomain" value="" />
    <add key="SkipReportHeader" value="false" />
    <add key="SkipReportSummary" value="false" />
    <add key="SkipColumnHeader" value="false" />
    <add key="OAuth2Mode" value="APPLICATION" />
  </AdWordsApi>
  <applicationSettings>
    <DataWarehouse.DataAcquisition.AdWords.Properties.Settings>
      <setting name="CommandTimeout" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="BulkCopyTimeout" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="EnableClientRefresh" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableReportQueuePopulation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableReportQueueProcessing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportDownloadTempFolder" serializeAs="String">
        <value>c:\adwords_downloader\</value>
      </setting>
      <setting name="RootMCCClientCustomerId" serializeAs="String">
        <value>371-742-9581</value>
      </setting>
      <setting name="DeleteDownloadedReportOnCompletion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportProcessorThreadCount" serializeAs="String">
        <value>40</value>
      </setting>
    </DataWarehouse.DataAcquisition.AdWords.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <sources>
      <source name="AdsClientLibs.SoapXmlLogs" switchName="AdsClientLibs.SoapXmlLogs" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!-- Modify the initializeData attribute below to control the
                path to the SOAP XML log file. -->
          <add name="soapXmlLogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Logs\soap_xml.log" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="AdsClientLibs.RequestInfoLogs" switchName="AdsClientLibs.RequestInfoLogs" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!-- Modify the initializeData attribute below to control the
                path to the request info log file. -->
          <add name="requestInfoLogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Logs\request_info.log" />
          <remove name="Default" />
        </listeners>
      </source>



      
      
      
    <source name="AdsClientLibs.DeprecationMessages" switchName="AdsClientLibs.DeprecationMessages" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="myListener" type="System.Diagnostics.EventLogTraceListener" initializeData="Application" />
        </listeners>
      </source><source name="AdsClientLibs.DetailedRequestLogs" switchName="AdsClientLibs.DetailedRequestLogs" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!-- Modify the initializeData attribute below to control the
                path to the detailed request log file. -->
          <add name="detailedRequestLogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Logs\AdWords\detailed_logs.log" />
          <remove name="Default" />
        </listeners>
      </source><source name="AdsClientLibs.SummaryRequestLogs" switchName="AdsClientLibs.SummaryRequestLogs" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!-- Modify the initializeData attribute below to control the
                path to the summary request log file. -->
          <add name="summaryRequestLogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Logs\AdWords\summary_logs.log" />
          <remove name="Default" />
        </listeners>
      </source></sources>
    <switches>
      <!-- Use this trace switch to control the SOAP XML logs written by Ads*
          .NET libraries. The default level is set to Off. Logs are generated at
          both the Error and Information levels. -->
      
      
      
      <!-- Use this trace switch to control the deprecation trace messages
          written by Ads* .NET libraries. The default is level is set to
          Warning. To disable all messages, set this value to Off. See
          http://msdn.microsoft.com/en-us/library/system.diagnostics.sourcelevels.aspx
          for all possible values this key can take. --><!-- Use this trace switch to control the detailed request logs written by Ads*
          .NET libraries. The default level is set to Off. Logs are generated at
          both the Error and Information levels. --><!-- Use this trace switch to control the summary request logs written by
          Ads* .NET libraries. The default level is set to Off. Logs are
          generated at both the Error and Information levels. --><add name="AdsClientLibs.SoapXmlLogs" value="Off" />
      <!-- Use this trace switch to control the Request Info logs written by
          Ads* .NET libraries. The default level is set to Off. Logs are
          generated at both the Error and Information levels. -->
      <add name="AdsClientLibs.RequestInfoLogs" value="Off" />






      
      
      
    <add name="AdsClientLibs.DeprecationMessages" value="Warning" /><add name="AdsClientLibs.DetailedRequestLogs" value="Off" /><add name="AdsClientLibs.SummaryRequestLogs" value="Off" /></switches>

    
  <trace autoflush="true" /></system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Ads.Common" publicKeyToken="52807268f2b614dc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.0" newVersion="3.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  
  
<system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="Google.Api.Ads.Common.Lib.SoapListenerExtension, Google.Ads.Common" priority="1" group="0" />
      </soapExtensionTypes>
    </webServices>
  </system.web><system.net>
    <settings>
      <httpWebRequest maximumErrorResponseLength="-1" />
    </settings>
  </system.net></configuration>
